@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --cor0: #264653;
    --cor1: #2a9d8f;
    --cor2: #e9c46a;
    --cor3: #f4a261;
    --cor4: #e76f51;

    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-code: 'Source Code Pro', monospace;
    --fonte-titulos: Georgia, serif;
}

* {
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    padding: 0px 20px;
}

sup {
    color: var(--cor3);
}

h1,
h2 {
    color: var(--cor2);
    font: normal small-caps bold 3em var(--fonte-titulos);
    text-align: center;
    padding: 0px 0px 10px 0px;
}

fieldset {
    background-color: var(--cor2);
    border: 2px solid white;
    border-radius: 10px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
}

legend {
    font: italic bold 1em/24px var(--fonte-titulos);
    background: white;
    padding: 0px 6px;
    border-radius: 10px;
}

pre {
    text-wrap: balance;
}

/*
font-style:
font-variant:
font-weight:
font-stretch:
font-size:
line-height:
font-family:

*/