@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');



:root {
    --cor1: #606c38;
    --cor2: #283618;
    --cor3: #fefae0;
    --cor4: #dda15e;
    --cor5: #bc6c25;
    --cortag: rgb(246, 45, 236);

    --fonte-padrao: 'Times New Roman', Times, serif;
    --fonte-titulos: 'Open Sans', sans-serif;
    --fonte-code: 'Source Code Pro', monospace;
}

* {
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #bc6b25e8;
}

body {
    margin: auto;
    max-width: 700px;
    background-color: var(--cor5);
    padding: 10px;
}

h1 {
    color: var(--cor4);
    font: small-caps bolder 3em/1em var(--fonte-titulos);
    text-align: center;
    margin-bottom: 15px;
}

sup {
    font-family: var(--fonte-code);
    color: var(--cor3);
}

fieldset {
    margin: auto;
    background-color: var(--cor2);
    border: 3px solid #bbbbbb;
    border-radius: 10px;
}

legend {
    font: italic bold 1em/16px var(--fonte-padrao);
    background-color: #bbbbbb;
    border-radius: 20px;
    padding: 3px 10px;
}

pre {
    width: 100%;
    font-family: var(--fonte-code);
    font-size: .7em;
    color: white;
    text-wrap: balance;
    padding: 3px;
}

main {
    background-color: rgba(255, 255, 255, 0.16);
    contain: content;
    padding: 3px;
    border-radius: 15px;
    margin-top: 10px;
}

h2 {
    color: var(--cor4);
    font: italic bold 2em var(--fonte-titulos);
    text-indent: 10%;
    text-align: start;
    box-sizing: border-box;
    margin: 4px 0px 15px;
}

table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: #808080;
}

thead {
    color: var(--cor3);
    background-color: #313131;
}

th {
    font-size: .8em;
    font-family: var(--fonte-titulos);
}

th,
td {
    border: 2px solid #bbbbbb;
}

.tag {
    font: normal bold .9em/16px var(--fonte-code);
    color: rgb(39, 39, 212);
}

.sig {
    font: normal .9em/16px var(--fonte-titulos);
}

.par {
    color: greenyellow;
}

abbr {
    text-decoration: none;
}

h3 {
    color: var(--cor4);
    font: normal bold 1.5em var(--fonte-titulos);
    text-indent: 5%;
    padding: 10px 0px;
}

p {
    text-align: justify;
    text-indent: 20px;
}

h1 {}

footer {
    color: white;
    margin-top: 10px;
    background-color: rgb(62, 62, 62);
    border-radius: 20px;
    padding: 8px 8px;

}

footer>p {
    text-align: center;
}

img {
    border-radius: 10px;
    height: 1em;
}

p>a {
    color: rgba(255, 255, 255, 0.686);
    text-decoration: none;
}

p a:hover {
    color: rgb(62, 62, 255);
    text-decoration: underline;
}

/*
font-style:
font-variant:
font-weight:
font-stretch:
font-size:
line-height:
font-family:

*/